@model MvcMusicStore.Models.Order

@{
    ViewBag.Title = "Address And Payment";
}

@section scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { aria_label = "Checkout address and payment form" }))
{
    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger", role = "alert" })

    <h2>Address And Payment</h2>
    <fieldset class="form-horizontal">
        <legend>Shipping Information</legend>

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.City, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.City, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.State, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.State, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PostalCode, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PostalCode, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Country, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Country, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Phone, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>

    <fieldset class="form-horizontal">
        <legend>Payment</legend>
        <p>We're running a promotion: all music is free with promo code <strong>FREE</strong>.</p>

        <div class="form-group">
            @Html.Label("PromoCode", "Promo Code", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBox("PromoCode", ViewBag.PromoCode as string, new { @class = "form-control", placeholder = "Enter promo code", autocomplete = "off" })
                @Html.ValidationMessage("PromoCode", string.Empty, new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>

    <fieldset class="form-horizontal">
        <legend>Loyalty Rewards</legend>

        <p>
            You have <strong>@ViewBag.LoyaltyPoints points</strong>
            (@ViewBag.LoyaltyTierName tier &middot; @ViewBag.LoyaltyMultiplier&times; earn).
            This order earns about <strong>@ViewBag.ProjectedEarn points</strong>.
        </p>

        @{
            int maxRedeem = (int)ViewBag.MaxRedeemablePoints;
            int perDollar = (int)ViewBag.PointsPerDollarRedeemed;
            int increment = (int)ViewBag.RedemptionIncrement;
            int maxDiscountDollars = perDollar > 0 ? maxRedeem / perDollar : 0;
        }

        @if (maxRedeem > 0)
        {
            <div class="form-group">
                @Html.Label("PointsToRedeem", "Redeem points", new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <input type="number"
                           name="PointsToRedeem"
                           id="PointsToRedeem"
                           class="form-control"
                           min="0"
                           step="@increment"
                           max="@maxRedeem"
                           value="0"
                           autocomplete="off" />
                    <span class="help-block">
                        Redeem up to <strong>@maxRedeem points</strong> for
                        <strong>@maxDiscountDollars.ToString("C0")</strong> off this order
                        (@perDollar points = $1, in increments of @increment).
                    </span>
                </div>
            </div>
        }
        else
        {
            <p class="help-block">Earn more points to unlock a discount on a future order.</p>
        }
    </fieldset>

    <p>
        <input class="btn btn-primary" type="submit" value="Submit Order" />
        <a class="btn btn-default" href="@Url.Action("Index", "ShoppingCart")">Back to cart</a>
    </p>
}