@model MvcMusicStore.Models.Order

@{
    ViewBag.Title = "Address And Payment";
    var pricing = ViewBag.Pricing as MvcMusicStore.Services.CartPricing ?? new MvcMusicStore.Services.CartPricing();
}

@section scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { aria_label = "Checkout address and payment form" }))
{
    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger", role = "alert" })

    <h2>Address And Payment</h2>
    <fieldset class="form-horizontal">
        <legend>Shipping Information</legend>

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.City, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.City, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.State, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.State, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PostalCode, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PostalCode, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Country, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Country, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Phone, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>

    <fieldset class="form-horizontal">
        <legend>Order summary</legend>
        <table class="table checkout-summary">
            <caption class="sr-only">Order summary</caption>
            <tbody>
            @foreach (var line in pricing.Lines)
            {
                <tr>
                    <td>
                        @line.Title <span class="text-muted">&times; @line.Quantity</span>
                        @if (line.IsOnSale)
                        {
                            <span class="sale-badge" title="@line.SaleName">Sale</span>
                        }
                    </td>
                    <td class="text-right">@line.LineSubtotal.ToString("C")</td>
                </tr>
            }
            </tbody>
            <tfoot>
                <tr>
                    <th class="text-right">Subtotal</th>
                    <th class="text-right">@pricing.Subtotal.ToString("C")</th>
                </tr>
                @if (pricing.DiscountApplied)
                {
                    <tr>
                        <th class="text-right">Discount (@pricing.AppliedCode)</th>
                        <th class="text-right text-success">-@pricing.DiscountAmount.ToString("C")</th>
                    </tr>
                }
                <tr>
                    <th class="text-right">Total</th>
                    <th class="text-right">@pricing.Total.ToString("C")</th>
                </tr>
            </tfoot>
        </table>
        <p class="text-muted">
            Have a discount code? @Html.ActionLink("Add it in your cart", "Index", "ShoppingCart") before placing your order.
        </p>
    </fieldset>

    <p>
        <input class="btn btn-primary" type="submit" value="Submit Order" />
        <a class="btn btn-default" href="@Url.Action("Index", "ShoppingCart")">Back to cart</a>
    </p>
}