@model MvcMusicStore.ViewModels.CartSummaryViewModel

<li id="cart-summary-item" class="cart-nav-item @(Model.CartCount > 0 ? string.Empty : "hidden")">
    <a id="cart-summary-link"
       href="@Url.Action("Index", "ShoppingCart")"
       title="@Model.CartSummary"
       aria-label="Shopping cart with @Model.CartCount item(s)">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        Cart (<span id="cart-summary-count">@Model.CartCount</span>)
    </a>
</li>
