<h4>Use another service to log in.</h4>
<hr />
@{
    var loginProviders = (await Context.RequestServices
        .GetRequiredService<Microsoft.AspNetCore.Authentication.IAuthenticationSchemeProvider>()
        .GetAllSchemesAsync())
        .Where(s => s.DisplayName != null)
        .ToList();

    if (loginProviders.Count == 0)
    {
        <div>
            <p>There are no external authentication services configured.</p>
        </div>
    }
    else
    {
        string action = Model.Action;
        string returnUrl = Model.ReturnUrl;
        using (Html.BeginForm(action, "Account", new { ReturnUrl = returnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                @foreach (var p in loginProviders)
                {
                    <button type="submit" class="btn btn-default" id="@p.Name" name="provider" value="@p.Name" title="Log in using your @p.DisplayName account">@p.DisplayName</button>
                }
                </p>
            </div>
        }
    }
}
