@model MvcMusicStore.Models.Album

@{
    ViewBag.Title = "Album - " + Model.Title;
}

<article class="album-detail">
    <div class="album-detail-art">
        <img alt="@Model.Title" src="@Url.Content(Model.GetDisplayThumbnailUrl())" />
    </div>
    <div class="album-detail-content">
        <p class="detail-kicker">@Model.Genre!.Name</p>
        <h1>@Model.Title</h1>
        <p class="detail-artist">by @Model.Artist!.Name</p>
        <p class="detail-price">@Model.Price.ToString("C")</p>
        <div class="detail-actions">
            <a class="btn btn-primary btn-lg" href="@Url.Action("AddToCart", "ShoppingCart", new { id = Model.AlbumId })">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                Add to cart
            </a>
            <a class="btn btn-default btn-lg" href="@Url.Action("Browse", "Store", new { genre = Model.Genre.Name })">
                Back to @Model.Genre.Name
            </a>
        </div>
    </div>
</article>
