@model MvcMusicStore.Models.Album

@{
    ViewBag.Title = "Album - " + Model.Title;
}

<h1>@Model.Title</h1>

<p>
    <img alt="@Model.Title" src="@Url.Content(@Model.AlbumArtUrl)" />
</p>

<div id="album-details">
    <p>
        <em>Genre:</em>
        @Model.Genre!.Name
    </p>
    <p>
        <em>Artist:</em>
        @Model.Artist!.Name
    </p>
    <p>
        <em>Price:</em>
        @Html.DisplayFor(model => model.Price)
    </p>
    <p>
        <a class="btn btn-default"
           href="@Url.Action("AddToCart", "ShoppingCart", new { id = Model.AlbumId })"
           aria-label="Add @Model.Title to cart">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            Add to cart
        </a>
    </p>
</div>