@inject Microsoft.AspNetCore.Identity.UserManager<MvcMusicStore.Models.ApplicationUser> UserManager
@if (User.Identity?.IsAuthenticated == true)
{
    <li class="hidden">
        <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
            @Html.AntiForgeryToken()
        </form>
    </li>
    <li class="nav-greeting">
        @Html.ActionLink("Hi, " + User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li>@Html.ActionLink("My Orders", "Index", "Order")</li>
    <li>@Html.ActionLink("My gift cards", "Index", "GiftCard")</li>
    <li>
        <button type="submit" form="logoutForm" class="btn btn-link navbar-btn nav-link-button">Log off</button>
    </li>
}
else
{
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
