@model IEnumerable<MvcMusicStore.Models.Album>

@functions {
    string Truncate(string? input, int length)
    {
        if (input == null || input.Length <= length)
            return input ?? string.Empty;
        return input.Substring(0, length) + "...";
    }
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    &nbsp;|&nbsp;
    @Html.ActionLink("Manage reviews", "Reviews")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genre!.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist!.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFeatured)
        </th>
        <th>Thumbnail</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Genre!.Name)
            </td>
            <td>
                @Truncate(item.Artist!.Name, 25)
            </td>
            <td>
                @Truncate(item.Title, 25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @(item.ReleaseDate?.ToString("yyyy-MM-dd") ?? "Unknown")
            </td>
            <td>
                @(item.IsAvailable ? "Yes" : "No")
            </td>
            <td>
                @(item.IsFeatured ? "Yes" : "No")
            </td>
            <td>
                <img alt="@item.Title thumbnail" src="@Url.Content(item.GetDisplayThumbnailUrl())" data-fallback-src="@Url.Content(MvcMusicStore.Models.Album.DefaultPlaceholderThumbnailUrl)" class="admin-thumbnail-list" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AlbumId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AlbumId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AlbumId })
            </td>
        </tr>
    }

</table>
